<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CritchleyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>RestrictionServlet</servlet-name>
		<servlet-class>com.servlets.RestrictionServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RestrictionServlet</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/register</url-pattern>
		<url-pattern>/users/*</url-pattern>
		<url-pattern>/accounts/owned/*</url-pattern>
		<url-pattern>/accounts/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>com.servlets.AccountsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/accounts</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>com.servlets.ServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/users</url-pattern>
		<url-pattern>/accounts/status/*</url-pattern>
		<url-pattern>/accounts/withdraw</url-pattern>
		<url-pattern>/accounts/deposit</url-pattern>
		<url-pattern>/accounts/transfer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ErrorServlet</servlet-name> 
		<servlet-class>com.servlets.ErrorServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name> 
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error</location>
	</error-page>
	
	
</web-app>